/* Show hamburger nav only on small screens */
@media screen and (max-width: 768px) {
    #desktop-nav {
      display: none;
    }
  
    #hamburgernav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 2rem;
      height: 10vh;
    }
  }
  
  /* Show desktop nav only on larger screens */
  @media screen and (min-width: 769px) {
    #hamburgernav {
      display: none;
    }
  }
  @media (max-width: 768px) {
    #about {
        padding-bottom: 0.25rem; /* Slightly larger padding on mobile */
    }
    #skills_coursework {
        padding-top: 0.25rem; /* Slightly larger padding on mobile */
    }
}

@media (max-width: 768px) {
  #experience {
      margin: 1rem;
  }

  .experience-details {
      flex-direction: column;
      align-items: start;
  }

  .icon {
      margin-bottom: 10px;
  }
}